<launch>

  <arg name="config" default="$(find road_slope_detection_ros_tool)/launch/params/tf_tramsform_parameters.yaml" />
  <arg name="required" default="false"/>
  <arg name="node_name" default="tf_tramsform"/>

  <!-- this is just to be compatible with the nodelet version -->
  <arg name="nodelet_manager_name" default="nodelet_manager_tf_tramsform"/>
  <arg name="start_nodelet_manager" default="true"/>


  <node pkg="road_slope_detection_ros_tool" type="tf_tramsform" name="$(arg node_name)" ns="/sensor" output="screen">
    <rosparam command="load" file="$(arg config)"/>
  </node>

</launch>
